<div class="col-xs-12 col-sm-12 col-md-12 joinpaddingdashed col-lg-12" ng-repeat="item in $$value$$ track by $index">
  <h2 style=" margin-top: 10px;" class="col-xs-12 col-sm-12 col-md-12 col-lg-12">第{{($index + 1)}}轮</h2>
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" ng-if="(form.itemmodel.data_item_type == 2 || form.itemmodel.data_item_type == 3)">
    <div class="icon-icon_close multisigndel" ng-if="$index>1" ng-click="form.options.deleteFn(form, $index)"></div>

    <div class="schema-form-date-range col-xs-12 col-sm-12 col-md-6 col-lg-6 joinrows">
      <label class="control-label  schema-form-required">开始时间<span class="join-required"></span></label>
      <div class="joininputcol col-width-100">
        <input type="daterange" placeholder="请输入开始时间" class="form-control col-width-100" ng-model="item.amiStartTime" enabletimepicker="form.enabletimepicker"
          min-date="form.minDate" max-date="form.maxDate" limit="form.limit" locale="form.locale" ranges="form.ranges" single-date-picker="true"
          ranges="form.ranges||MosEnum.momentRanges" ng-click="form.description=''" format="form.locale.format" separator="form.locale.separator" ng-disabled="{{form.readonly}}"
        />
      </div>
    </div>

    <div class="schema-form-date-range col-xs-12 col-sm-12 col-md-6 col-lg-6 joinrows">
      <label class="control-label  schema-form-required">结束时间<span class="join-required"></span></label>
      <div class="joininputcol col-width-100">
        <input type="daterange" placeholder="请输入结束时间" class="form-control col-width-100" ng-model="item.amiEndTime" enabletimepicker="form.enabletimepicker"
          min-date="form.minDate" max-date="form.maxDate" limit="form.limit" locale="form.locale" ranges="form.ranges" single-date-picker="true"
          ranges="form.ranges||MosEnum.momentRanges" ng-click="form.description=''" format="form.locale.format" separator="form.locale.separator" ng-disabled="{{form.readonly}}"
        />
      </div>
    </div>

    <div class="schema-form-date-range col-xs-12 col-sm-12 col-md-12 col-lg-12 joinrows">
      <label class="control-label">活动地点</label>
      <div class="joininputcol">
        <div class="input-group">
          <input type="text" placeholder="请输入活动地址" class="form-control" ng-model="item.amiGpsPlace" />
          <span class="input-group-btn">
          <button class="btn btn-default btn-gps-ico" type="button" ng-click="form.options.buttonClick($event,form, item)">
                  <span class="icon-activities_icon_add1"></span>
          </button>
          </span>
        </div>
      </div>


    </div>
  </div>

  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" ng-if="(form.itemmodel.data_item_type == 1 || form.itemmodel.data_item_type == 4)">
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 joinrows">
      <label class="edit_title_label pre">开始时间：</label>
      <label class="joininputcol edit_content_label pre" ng-bind-html="item.amiStartTime|formatDateTime:'YYYY-MM-DD HH:mm'"></label>
    </div>

    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 joinrows">
      <label class="edit_title_label pre">结束时间：</label>
      <label class="joininputcol edit_content_label pre" ng-bind-html="item.amiEndTime|formatDateTime:'YYYY-MM-DD HH:mm'"></label>
    </div>

    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 joinrows">
      <label class="edit_title_label pre">活动地点：</label>
      <label class="joininputcol edit_content_label pre" ng-bind-html="item.amiGpsPlace"></label>
    </div>

  </div>

  <div class="joinbottomlinedashed"></div>
</div>
<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 has-error" ng-if="(form.itemmodel.data_item_type == 2 || form.itemmodel.data_item_type == 3)">
  <div class="help-block" style="margin: 0 20px;" ng-bind-html="form.description"></div>
</div>