
<script>
  function pageCtrl($scope, $http, Upload, $timeout, $uibModal, $stateParams){

    $scope.param = $stateParams;

    $scope.schema = {
      type: 'object',
      title: 'Upload',
      properties: {
        name: {
          title: '用户名',
          type: 'string'
        },
        sendto: {
          title: '发送给',
          type: 'string'
        },
        msg: {
          title: '消息',
          type: 'string'
        },
        log: {
          title: '日志',
          type: 'string'
        }
      }
    };


    $scope.form = [
      {
        key: 'name',
        placeholder: '请输入用户名',
        type: 'input',
        fieldAddonLeft: '@',
        fieldAddonRight: {
          type: 'button',
          enable: true,
          title: '注册',
          onClick: function () {//注册
            if ($scope.model.name == ''){
              showInfo('请输入用户名！')
              return;
            }
            mq.SubscribeCB('RT/+/'+$scope.model.name, function (msg) {
              $scope.$apply(function () {
                $scope.model.log+=moment().format('HH:mm:ss ')+msg.payload+"\n";
              });
              console.log("收到新消息"+msg);
            });
            this.enable = false;
            showInfo('使用成功，发送给'+$scope.model.name+'的消息系统会推送给您！');
          }
        }
      },
      {
        key : 'sendto',
        placeholder : '请输入发送给'
      },
      {
        key: 'msg',
        placeholder: '请输入消息',
        type: 'input',
        fieldAddonLeft: '@',
        fieldAddonRight: {
          type: 'button',
          enable: true,
          title: '发送',
          onClick: function () {//发送

            if ($scope.form[0].fieldAddonRight.enable){
              showInfo('请注册用户！')
              return;
            }
            if ($scope.model.sendto == ''){
              showInfo('请输入发送给！')
              return;
            }
            if ($scope.model.msg == ''){
              showInfo('请输入消息！')
              return;
            }

            console.log("发送新消息："+$scope.model.msg);
            mq.Publish('RT/' + $scope.model.name+'/'+$scope.model.sendto, $scope.model.msg);
          }
        }
      },
      {
        key: 'log',
        placeholder: '还没有日志',
        type: "textarea"
      },
      {
        type: 'actions',
        fieldHtmlClass: 'btn-success',
        items: [
          {
            type: 'button',
            title: '清空日志',
            onClick: function () {//清空日志
              $scope.model.log = '';
              showInfo('日志已清空')
            }
          }
        ]
      }
    ];

    $scope.model = {
      name : '',
      msg : '',
      sendto: '',
      log : ''
    };

    $scope.$watch('model', function(value){
      if (value) {
        $scope.prettyModel = JSON.stringify(value, undefined, 2);
      }
    }, true);

  }
</script>
<div ng-controller="pageCtrl">
  <h3>{{param.name}}</h3>

  <div sf-schema="schema" sf-form="form" sf-model="model" sf-options="{ formDefaults: { disableSuccessState: true, feedback: false }}"></div>

  <div>{{prettyModel}}</div>
</div>
