<div class="upload-buttons form-group schema-form-{{form.type}} {{form.htmlClass}}" ng-class="{'has-error': form.disableErrorState !== true && hasError(), 'has-success': form.disableSuccessState !== true && hasSuccess()}">
  <label class="control-label {{form.labelHtmlClass}}" ng-class="{'sr-only': !showTitle(), 'schema-form-required': form.inputrequired === true}" for="{{form.key.slice(-1)[0]}}">{{form.title}}<span ng-if="form.inputrequired === true" class="join-required"></span></label>
  <div class="joininputcol" ng-class="form.fieldHtmlClass">
    <div class="upload-img-one" ng-repeat="pic in $$value$$ track by $index">
      <div ng-style="{'background':'url('+(pic|formatImgUrl:form.options.suffix)+') left top / 100% 100% no-repeat'}" class="uploadimgscls"></div>
      <div class="glyphicon glyphicon-remove-sign file-del" ng-click="$$value$$.splice($index, 1)"></div>
    </div>
    <div class="uploadimgscontent"><div class="uploadimgsbuttom" ng-if="form.options.maxNum ? form.options.maxNum > $$value$$.length : true"
         class="upload-img-one upload-btn" file-button file-change="$$value$$.push(image)"
         fl-title="剪裁" fl-image-format="image/jpeg">
      <span class='btn {{form.btnHtmlClass || "btn-success"}}'>{{form.btn_title || '选择图片'}}</span>
    </div>
    <span class="uploadimgslabel" ng-if="form.options.suggestlabel" ng-bind-html="form.options.suggestlabel"></span></div>
    <div class="help-block" sf-message="form.description"></div>
  </div>
</div>
