<div class="form-group schema-form-{{form.type}} {{form.htmlClass}}"
     ng-class="{'has-error': form.disableErrorState !== true && hasError(), 'has-success': form.disableSuccessState !== true && hasSuccess()}">
  <label class="control-label {{form.labelHtmlClass}}"  ng-class="{'schema-form-required': form.inputrequired === true}" ng-show="showTitle()">{{form.title}}<span ng-if="form.inputrequired === true" class="join-required"></span></label>
  <div class="joininputcol {{form.fieldHtmlClass}}" ng-class="{'input-group': (form.fieldAddonLeft || form.fieldAddonRight)}">
    <input
      type="daterange"
      id="{{form.key.slice(-1)[0]}}"
      placeholder="{{form.placeholder}}"
      class="form-control {{form.fieldHtmlClass}}"
      sf-changed="form"
      ng-model-options="form.ngModelOptions"
      ng-model="$$value$$"
      enabletimepicker="form.enabletimepicker||MosEnum.momentTimepicker"
      single-date-picker="form.singleDatePicker"
      min-date="form.minDate"
      max-date="form.maxDate"
      limit="form.limit"
      format="form.locale.format"
      separator="form.locale.separator"
      locale="form.locale||MosEnum.momentLocales"
      ranges="form.ranges||MosEnum.momentRanges"
      ng-disabled="{{form.readonly}}"
      schema-validate="form"
      aria-describedby="{{form.key.slice(-1)[0] + 'Status'}}"/>
    <span ng-if="form.fieldAddonRight && form.fieldAddonRight.type!='button'"
          class="input-group-addon  {{form.fieldAddonRight.htmlClass}}"> </span>
    <span ng-if="form.feedback !== false"
          class="form-control-feedback"
          ng-class="evalInScope(form.feedback) || {'glyphicon': true, 'glyphicon-ok': hasSuccess(), 'glyphicon-remove': hasError() }"
          aria-hidden="true"></span>
    <span ng-if="hasError() || hasSuccess()"
          id="{{form.key.slice(-1)[0] + 'Status'}}"
          class="sr-only">{{ hasSuccess() ? '(success)' : '(error)' }}</span>
    <div class="help-block" sf-message="form.description"></div>
  </div>
</div>
