<div class="form-group {{form.htmlClass}} schema-form-treemultiselect"
     ng-class="{'has-error': form.disableErrorState !== true && hasError(), 'has-success': form.disableSuccessState !== true && hasSuccess()}">
  <label ng-if="!form.notitle" class="control-label {{form.labelHtmlClass}}" ng-class="{'schema-form-required': form.inputrequired === true}" ng-show="showTitle()">{{form.title}}<span ng-if="form.inputrequired === true" class="join-required"></span></label>
  <div class="joininputcol ui-select-container ui-select-multiple select2 select2-container select2-container-multi" ng-model="$$value$$" ng-href="" ng-click="form.openSelect($event, form)" schema-validate="form" sf-changed="form">
    <div ng-if="form.addDataOption" class="input-group"><ul class="select2-choices">
      <li class="select2-search-field" ng-if="!$$value$$ || $$value$$.length == 0"><input type="text"  class="select2-input ui-select-search ng-pristine" readonly="readonly" placeholder="{{form.placeholder}}"></li>
			<li class="ui-select-match-item select2-search-choice" ng-repeat="item in $$value$$">
			<div ng-bind-html="item[form.map.displayProp]"></div>
      <small ng-if="form.map.moreitemname1" ng-bind="item[form.map.moreitemname1]" style="padding-right: 10px;"></small>
      <small ng-if="form.map.moreitemname2" ng-bind="item[form.map.moreitemname2]"></small></li>
		</ul>
    <span class="input-group-btn"><button class="btn" ng-class="form.addDataOption.class" type="button" ng-click="form.addDataOption.cb($event,form)"><span class="icon-activities_icon_add" style="padding-right:5px;" ng-if="!form.addDataOption.title"></span>{{form.addDataOption.title||'新增'}}</button></span>
  </div>
  <ul ng-if="!form.addDataOption" class="select2-choices">
    <li class="select2-search-field" ng-if="!$$value$$ || $$value$$.length == 0"><input type="text"  class="select2-input ui-select-search ng-pristine" readonly="readonly" placeholder="{{form.placeholder}}"></li>
			<li class="ui-select-match-item select2-search-choice" ng-repeat="item in $$value$$">
			<div ng-bind-html="item[form.map.displayProp]"></div>
      <small ng-if="form.map.moreitemname1" ng-bind="item[form.map.moreitemname1]" style="padding-right: 10px;"></small>
      <small ng-if="form.map.moreitemname2" ng-bind="item[form.map.moreitemname2]"></small></li>
		</ul>
  <div class="help-block" sf-message="form.description"></div>
  </div>

</div>
