<div class="btn-group" ng-model="$$value$$" >
<button type="button" class="btn btn-default dropdown-toggle {{form.htmlClass}}" style="{{form.style}}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
  <span ng-if="form.icon" class="glyphicon glyphicon-{{form.icon}}"></span>
  {{form.title}} <span class="caret"></span>
  </button>
  <ul class="dropdown-menu dropdown-menu-right">
    <li ng-repeat="item in form.actions" role="{{item.title}}" class="{{item.title!='separator' ? '' : 'divider'}}">
      <a ng-click="item.onClick($event)" ng-hide="item.title=='separator'">{{item.title}}</a>
    </li>
  </ul>
</div>
