<div class="form-group schema-form-{{form.type}} {{form.htmlClass}}"
     ng-class="{'has-error': form.disableErrorState !== true &&  hasError(), 'has-success': form.disableSuccessState !== true &&  hasSuccess()}">
  <label class="control-label {{form.labelHtmlClass}}" ng-class="{'sr-only': !showTitle()}" for="{{form.key.slice(-1)[0]}}" ng-bind-html="form.title"></label>
  <div class="jstree" js-tree="form.options" sf-changed="form" schema-validate="form" ng-model="$$value$$" ng-model-options="form.ngModelOptions" should-apply="form.ignoreModelChanges()" tree="form.treeInstance" tree-events-obj="form.treeEventsObj"></div>
  <span ng-if="hasError() || hasSuccess()"
        id="{{form.key.slice(-1)[0] + 'Status'}}"
        class="sr-only">{{ hasSuccess() ? '(success)' : '(error)' }}</span>
  <div class="help-block" sf-message="form.description"></div>
</div>
