<div class="upload-buttons form-group schema-form-{{form.type}} {{form.htmlClass}}">
  <div style="padding-bottom: 10px">
    <label class="control-label {{form.labelHtmlClass}}" ng-class="{'sr-only': !showTitle()}" for="{{form.key.slice(-1)[0]}}">{{form.title}}</label>
    <div class="upload-img-one" ng-repeat="pic in $$value$$ track by $index">
      <img ng-src="{{pic}}" />
      <div class="glyphicon glyphicon-remove-sign file-del" ng-click="$$value$$.splice($index, 1)"></div>
    </div>
    <div ng-if="form.options.maxNum ? form.options.maxNum > $$value$$.length : true"
         class="upload-img-one upload-btn" file-button file-change="$$value$$.push(image)"
         fl-title="剪裁" fl-image-format="image/jpeg">
      <div class="add-box"></div>
    </div>
  </div>
  <span ng-if="form.options.width">建议尺寸：{{form.options.width}}*{{form.options.height}}</span>
  <div class="help-block" sf-message="form.description"></div>
</div>
