<div class="form-group schema-form-{{form.type}} {{form.htmlClass}}"
     ng-init="form.options.resultKey='url' ; form.options.progressKey='progress' ; form.options.errorMsgKey='errorMsg'" ng-class="{'has-error': form.disableErrorState !== true && hasError(), 'has-success': form.disableSuccessState !== true && hasSuccess(), 'has-feedback': form.feedback !== false }">
  <label class="control-label {{form.labelHtmlClass}}" ng-class="{'sr-only': !showTitle(), 'schema-form-required': form.inputrequired === true}" for="{{form.key.slice(-1)[0]}}">{{form.title}}<span ng-if="form.inputrequired === true" class="join-required"></span></label>
  <div class="joininputcol" ng-class="form.fieldHtmlClass">
  <div ng-repeat="f in $$value$$ track by $index">
    <span ng-if="$files[$index][form.options.errorMsgKey]" class="sr-only">错误: {{$files[$index][form.options.errorMsgKey]}}</span>
    <a ng-if="form.options.showThumb" href="{{f}}" target="_blank">
      <img ngf-src="f" height="{{form.options.thumbSize}}px"
           width="{{form.options.thumbSize}}px" style="margin-bottom: 2px" class="thumb"/>
    </a>
    <span class="file-progress" ng-show="$files[$index][form.options.progressKey] >= 0">
        <div style="width:{{$files[$index][form.options.progressKey]}}%" ng-bind="$files[$index][form.options.progressKey] + '%'"></div>
    </span>
    <div ng-show="f" class="glyphicon glyphicon-remove-sign file-del"
         ng-click="form.options.deleteFn($$value$$, f)"></div>
  </div>
  <md-button md-colors="{background: 'green'}" ngf-multiple="true" ngf-select ngf-change="form.options.uploadPics($files, form.options, $$value$$, $newFiles, $duplicateFiles, $invalidFiles, $event)"
     ng-init="form.options.init($files, $$value$$);"
     ngf-fix-orientation="true" ngf-validate="form.options.uploadvalidate"
     ngf-resize="{width: (form.options.resizewidth?form.options.resizewidth:960), quality: 0.8, type: 'image/jpeg', restoreExif: true}"
     ngf-resize-if="$width > (form.options.resizewidth?form.options.resizewidth:960) || $height > (form.options.resizewidth?form.options.resizewidth:960)" ng-class="form.class" tabindex="-1">
    <span>批量上传</span>
  </md-button>
  <br ng-if="form.options.suggestBottom" />
  <span ng-if="form.options.suggestlabel" ng-style="{'padding-left': (form.options.suggestBottom? '0px' : '10px')}" ng-bind="form.options.suggestlabel"></span>
  <div class="help-block" sf-message="form.description"></div>
</div></div>
